[Unit]
Description=PICOFoxweb
After=network.target 

[Service]
ExecStart=/usr/local/sbin/PICOFoxweb 8080 -r /var/www/picofoxweb/webroot
KillMode=process
User=picofoxweb
Group=picofoxweb

[Install]
WantedBy=multi-user.target
